<!--  Para mostrar el articulo se utiliza @articulo.valor_de_la_tabla
	  que ya fue cargado en el controlador en la funcion show.

	  si se quisiera poner un link a la vista de edición se haria de la siguiente forma:
	  link_to "Editar", edit_article_path(@articulo), class: "btn btn-warning"
-->

<div class="col-md-10 col-md-offset-1">
	<!-- Breadcrumb para la vista de los artículos -->
	<ol class="breadcrumb">
		<li>
			<%= link_to "Inicio", root_path %>
		</li>
		<li>
			<%= link_to "Articulos", articles_path %>
		</li>
		<li class="active">Artículo: <%= @articulo.title %></li>

	</ol>
	
	<h1><%= @articulo.title %></h1>	
	<hr>
	<!-- al tener la relacion de usuarios articulos
	se puede acceder a la información de esta misma
	de la siguiente manera:
	 -->
	<%if @articulo.user != nil %>
		<span class="badge">Escrito por: <%= @articulo.user.email %></span>
		<br><br>		
	<%else %>		
		<span class="badge">Este artículo no tiene autor.</span>
		<br><br>
	<%end%>
	<span class="badge">Visitas: <%= @articulo.visits_count %></span>
	<br><br>
	<!--  -->
	<div class="panel panel-default">
		<div class="panel-body">
			<p><%= @articulo.body %></p>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Comentarios</h3>
		</div>
		<div class="panel-body">
			<!-- aca se renderiza el formulario creado para los comentarios. -->
			<%= render "comments/form" %>
			</br>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading"></div>
							
				<!-- Table -->
				<table class="table">
					<thead>
						<tr>
							<th>Usuario</th>
							<th>Comentario</th>
						</tr>						
					</thead>
					<tbody>
					<%@articulo.comments.each do |comentario|%>
						<tr>
							<td><%= comentario.user.email%></td>
							<td><%= comentario.body%></td>
						</tr>						
					<%end%>						
					</tbody>
				</table>
			</div>

		</div>
	</div>

</div>
	

