<!DOCTYPE html>
<html>
<head>
  <title>RailsPrueba</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Estas etiquitas se añaden al instalar la gema devise para autenticación de usuarios -->

<!-- un layout es lo que se ve en toda la aplicacion en todas partes, es permanente para todas nuestras páginas. -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to "Blog JsFramework", root_path, class: "navbar-brand" %>
				<!--<a class="navbar-brand" href="#">Blog JsFramework</a>-->
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">					
				
				<%= render "partials/navigation" %>

			</div><!-- /.navbar-collapse -->
		</div>
	</nav>

	<!-- validador de las notificaciones de inicio de sesion -->
	<% if alert != nil %>
		
		<div class="alert alert-danger col-md-4 col-md-offset-4">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Alerta!</strong> <p class=""><%= alert %></p>
		</div>
		<br><br><br><br>

	<% elsif notice != nil%>
		
		<div class="alert alert-info col-md-4 col-md-offset-4">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Noticia!</strong> <p class=""><%= notice %></p>
		</div>
		<br><br><br><br>

	<%end%>

	<%= yield %>

</body>
</html>
